@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

.title {
  color: black;
  font-size: 50px;
  font-family: 'Protest Riot', cursive;
  text-align: center;
  text-decoration: underline;
}

/* STARTS Styling for Header Section */
.header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  height: 80px;
  top: 0; 
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.logo-font {
  font-size: 40px;
  font-family: 'Protest Riot', cursive;
}
/* Ends Styling for Header Section */

/* STARTS Styling for Nav Section */
.nav-link {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

.nav-link:hover {
  color: cyan;
  text-decoration: underline;
}

.button {
  background: linear-gradient(to right, cyan 50%, transparent 25%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease;
  border-radius: 20px;
  height: 40px;
  color: White;
  font-size: 20px;
  margin: 0 10px;
}

.button:hover {
  background-position: left bottom;
  color: white;
  transform: scale(1.1);
}
/* ENDS Styling for Nav Section */

/* STARTS Styling for About Section */
.about-image {
  border: 1px solid red;
  width: 200px;
  height: 400px;
}
/* ENDS Styling for About Section */

/* STARTS Styling for Project Section */
.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  overflow: hidden;
  margin-top: 60px; /* to prevent the projects from being hidden behind the header */
}

@media (min-width: 600px) {
  .layout {
    margin-top: 80px; /* to prevent the projects from being hidden behind the header */
  }
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.project {
  position: relative;
  width: 100%; 
  height: 200px; 
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.project:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease;
}

.project-image {
  width: 100%;
  height: 100%;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  color: white; /* text color */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .project-info {
  opacity: 1;
}

@media (min-width: 600px) {
  .project {
    width: 50%; /* 2 projects per row on medium screens */
  }
}

@media (min-width: 900px) {
  .project {
    width: 25%; /* 4 projects per row on large screens */
  }
}

/* ENDS Styling for Project Section */