/*HEADER STYLING DONE IN HEADER.JS FILE*/

/* STARTS Styling for Nav Section */
.nav-link {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

.nav-link:hover {
  color: cyan;
  text-decoration: underline;
}

.button {
  background: linear-gradient(to right, cyan 50%, transparent 25%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease;
  border-radius: 20px;
  height: 40px;
  color: White;
  font-size: 20px;
  margin: 0 10px;
}

.button:hover {
  background-position: left bottom;
  color: white;
  transform: scale(1.1);
}
/* ENDS Styling for Nav Section */

/* STARTS Styling for About Section */
.about-image {
  border: 1px solid red;
  width: 200px;
  height: 400px;
}
/* ENDS Styling for About Section */

/* STARTS Styling for Project Section */
.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.project {
  position: relative;
  width: 200px; /* adjust as needed */
  height: 200px; /* adjust as needed */
  margin: 10px;
}

.project-image {
  width: 100%;
  height: 100%;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  color: white; /* text color */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .project-info {
  opacity: 1;
}

/* ENDS Styling for Project Section */