/*HEADER STYLING DONE IN HEADER.JS FILE*/

/* STARTS Styling for Nav Section */
.nav-link {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

.nav-link:hover {
  color: cyan;
  text-decoration: underline;
}

.button {
  background: linear-gradient(to right, cyan 50%, transparent 25%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease;
  border-radius: 20px;
  height: 40px;
  color: White;
  font-size: 20px;
  margin: 0 10px;
}

.button:hover {
  background-position: left bottom;
  color: white;
  transform: scale(1.1);
}
/* ENDS Styling for Nav Section */

/* STARTS Styling for About Section */
.about-image {
  border: 1px solid red;
  width: 200px;
  height: 400px;
}